*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fceeda;
    min-height: 100vh;
}
.container{
   position: relative; 
   width: 500px;
   height: 600px;
   background:white;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.bigicon {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20px;
}
header{
    position: relative;
    background-color: rgb(55, 0, 128);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    padding-right: 20px;
}
.icons i{
    color: white;
    text-decoration: none;  
}
.tabs{
    visibility: hidden;
    display: none;
}
.buttons{
    position: relative;
    font-size: 20px;
    background-color: rgb(55, 0, 128);
    color: white;
    border-bottom: 1px solid  rgb(55, 0, 128);
    display: flex;
    
}
.buttons .label{
    display: grid;
    width: 33.33%;
}



