@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Tangerine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fceeda;
    min-height: 100vh;
    background: url(../img/annie-spratt-8VrDx2R6--c-unsplash.jpg) no-repeat center/cover;
}
.container{
   position: relative; 
   width: 500px;
   height: 600px;
   background:rgb(220, 209, 235);
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
   overflow: hidden;
   min-height:100vh ;
}

header{
    position: relative;
    background:linear-gradient(90deg,#f0027f,#75389f);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bigicon span{
    color: rgb(55, 0, 128);
}
.bigicon {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20px;
    font-family: cursive;
    font-style: italic;
}
.icons{
    display: flex;
    text-decoration: none; 
    position: relative;
}
.icon{
    padding-right: 25px;
}
.icons a{
    color: white;
    font-size: 1.2rem;
}
.tabs input{
    visibility: hidden;
    display: none; 
}
.buttons{
    position: relative;
    font-size: 20px;
    background:linear-gradient(90deg,#f0027f,#75389f);
    color: white;
    border-bottom: 1px solid  rgb(55, 0, 128);
    display: flex;
    
}
.buttons  label {
   width: 33.33%;
   text-align: center;
   padding: 5px 0;
   font-size: 1rem;
   font-weight: 700;
   cursor: pointer;
   opacity: 0.75;
}
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3){
    opacity: 1;
}
.underlined{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 3px;
    background-color: white;
    transition: 0.5s;
}
.tabs input:nth-child(1):checked ~ .buttons .underlined{
    left: 0%;
}
.tabs input:nth-child(2):checked ~ .buttons .underlined{
    left: 33.33%;
}
.tabs input:nth-child(3):checked ~ .buttons .underlined{
    left: 66.66%;
} 
.contents{
    position: relative;
    width: calc(500px * 3);
    display: flex;
    transition: 0.5s;
}
.contents .box {
    position: relative;
    width: 500px;
    overflow-y: scroll;
    height:100vh ;
}
.tabs input:nth-child(1):checked ~ .contents{
    left: calc(500px * 0);
}
.tabs input:nth-child(2):checked ~ .contents{
    left: calc(500px * -1);
}
.tabs input:nth-child(3):checked ~ .contents{
    left: calc(500px * -2);
}
.content .data{
    width: 100%;
    position: relative;
    height: 520px;
}
               /* FOR CHAT */

.chatlist{
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.chatlist .block{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 13px;
    padding:  7px 5px;
    cursor: pointer;
    
}
.chatlist .block:hover{
    background-color: white;
}
.chatlist .block .img{
    position: relative;
    min-width: 45px;
    min-height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.chatlist .block .img img{
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.chatlist .block .details{
    width: 100%;
    position: relative;
}
.chatlist .block .details .listhead{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.chatlist .block .details .listhead h3{
    font-size: 21px;
    font-weight: 900;
}
.chatlist .block .details .listhead .time{
    color: rgb(77, 74, 74);
    font-size: 14px;
    font-weight: 600;
}
.chatlist .block .details .message{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatlist .block .details .message p{
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.chatlist .block.unread .details .listhead .time{
    color: rgb(15, 235, 15);
}
h3 i{
    color: red;
    font-size: 8px;
}
.chatlist .block.unread .details p{
    color: #111;
    font-weight: 600;
}
.chatlist .block.unread .details .message b{
    background-color: rgb(15, 235, 15);
    padding: 2px 7px ;
    border-radius: 50%;
    color: white;
}
.details .message .typ{
    font-style: italic;
}
       /* FOR STATUS */

       




